body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.flexible{
    display: flex;
}
.half-width{
    width:50%;
}
.ml{
    margin-left: 40px;
}
.mr{
    margin-right: 40px;
}
.mt{
    margin-top: 100px;
}
.pl{
    padding-left: 100px;
}
.pr{
    padding-right: 100px;
}
.pt{
    padding-top: 100px;
}
.pb{
    padding-bottom: 100px;
}

h1{
    font-size: 50px;
    font-weight: 500;
}
h2{
    font-size: 40px;
    font-weight:500;
}
img{
    width: 100%;

}
.orange{
    color:orange;
}

#top-header{
    background: url(./img/top-banner.png);
    background-repeat: no-repeat;
}
.linkBtn{
    text-decoration: none;
    background:linear-gradient(to right, #FF9773,#FF6B4D);
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}
#dream-big{
    background-image: url(./img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
#expetiences{
    background-image: url(./img/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left center;
}
.exper-area{
    padding: 50px 20px;
   box-shadow: 0px 0px 50px #4b4949;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(#ff4800, #ff6600) 3;
    /* border-image-slice: 1; */
}
#baby-developer{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan) 3;
    /* border-image-slice: 1; */
}
.ex-pl{
    padding-left: 80px;
}

footer{
    text-align: center;
    color:#524b4b
}